.instructions {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    margin-top: 30px;
    padding: 10px;
    background-color: rgb(239, 239, 106);
    width: 90%;
    z-index: 10001;
    position: relative;

}

.instructions2nd {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-top: -20px;
    padding: 20px;
    padding-bottom: -30px;
    background-color: rgb(83, 207, 51);
    width: 88.78%;
    z-index: 10001;
    position: relative;

}

.instructions3rd {
    border-radius: 30px 30px 30px 30px;
    margin-top: -20px;
    margin-top: -10px;
    padding: 20px;
    padding-bottom: -30px;
    background-color: rgb(230, 76, 76);
    width: 30%;
    z-index: 10001;
    position: relative;

}