.top_bar {
    min-width: min-content;
    width: 90vw;
    height: 12vh;
    max-height: 80px;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 2px 3px rgba(4, 4, 4, 0.571);
    background-color: #fffefc;
    backdrop-filter: blur(15px);
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 5vw;
    padding-right: 5vw;
    z-index: 5;
    display: flex;
    justify-content: space-between;

}

.logo_img {
    height: 100%;
}

.logo_text {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    padding-left: 1vw;
}

.side_logo {
    height: 100%;
    max-height: 100%;
    display: flex;
    align-content: flex-end;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.right_logo {
    height: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
}

.log_in_bt {
    background-color: #1c9711;
    border: #106409;
    color: white;
    font-size: 16px;
    padding: 10px;
    height: 40px;
    width: 150px;
    margin-right: 25px;
    border-radius: 25px;
}

.register {
    background-color: #d2bf0d;
    border: #636804;
    color: white;
    font-size: 16px;
    padding: 10px;
    height: 40px;
    width: 150px;
    margin-right: 10px;
    border-radius: 25px;
}

.log_in_bt:hover {
    background-color: #106409;
    border: #106409;
    cursor: pointer;
}

.register:hover {
    background-color: #ab9b0a;
    border: #636804;
    cursor: pointer;
}

@media screen and (min-width:400px) and (max-width:700px) {
    .top_bar {
        height: 8vh;
        width: 96vw;
        padding-left: 2vw;
        padding-right: 2vw;
    }


    .logo_text {
        font-size: 20px;
    }

    .logo_img {
        height: 80%;
    }

    .gandhi {
        display: none;
    }

    .log_in_bt {
        font-size: 16px;
        padding: 10px;
        height: 40px;
        width: 100px;
        border-radius: 25px;
        margin-right: 0px;
    }

    .register {
        font-size: 16px;
        padding: 10px;
        height: 40px;
        width: 100px;
        border-radius: 25px;
    }
}

@media screen and (max-width:400px) {
    .top_bar {
        padding-left: 2vw;
        padding-right: 2vw;
        height: 8vh;
        width: 96vw;
    }

    .register {
        display: none;
    }

    .logo_text {
        font-size: 20px;
    }

    .logo_img {
        height: 80%;
    }

    .gandhi {
        display: none;
    }

    .log_in_bt {
        font-size: 16px;
        padding: 10px;
        height: 40px;
        width: 100px;
        border-radius: 25px;
        margin-right: 0px;
    }
}