.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #bfc0c9;
    padding: 10px;
  }
  .grid-item {
    background-color: rgb(255, 255, 241);
    border: 1px solid rgba(0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .h1{
    padding-left: 50%;
  }