Options +Includes +ExecCGI
AddType text/html .shtml
AddHandler server-parsed .shtml
Options Indexes FollowSymLinks Includes
AddHandler server-parsed .html .htm

<IfModule mod_rewrite.c>
  RewriteEngine On
  php_flag output_buffering on
  RewriteRule ^profile$ /php/profile.php [NC,L]
  RewriteRule ^complaints$ /php/complaint.php [NC,L]
  RewriteRule ^aboutus$ /html/about_us.html [NC,L]
  RewriteRule ^notification$ /php/notification.php [NC,L]
  RewriteRule ^dashboard$ /php/dashboard_index.php [NC,L]
  RewriteRule ^([a-zA-Z0-9_-]*)$ index.php?type=$1 [NC,C]
  RewriteRule ^analytics$ /php/analytics.php [NC,L]
</IfModule>
<IfModule mod_headers.c>
   Header set P3P "policyref=\"/w3c/p3p.xml\", CP=\"IDC DSP COR ADM DEVi TAIi PSA PSD IVAi IVDi CONi HIS OUR IND CNT\""
 </IfModule>